# Host listening and sending port
ZipLanPort = 41230
#ZipLanPort = 2233

# Z/IP gateway IPv4 or IPv6 address
# For IPv4, address 0.0.0.0 means get the Z/IP gateway IP address through Z/IP Gateway Discovery.
# For IPv6, address :: means get the Z/IP gateway IP address through Z/IP Gateway Discovery.
ZipRouterIP = fd00:aaaa::3
#ZipRouterIP = 192.168.0.101

# DTLS pre-shared key (PSK) in hexadecimal string with maximum string length of 64 (i.e. 32 hexadecimal bytes).
# Note: string length must be multiple of 2 and must be at least 32.  If this field is empty, no DTLS will be used
# Example of PSK with string length of 10 : 03A1B2C3FF
#DTLSPSK =
DTLSPSK = 123456789012345678901234567890AA



